@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.caseanalysis-hero{
  overflow: hidden;
  margin: 0% 1.5%;
  height: 320px;
  border-radius: 24px;
  border: 1px solid rgba(222, 222, 222, 0.60);
  background: linear-gradient(92deg, #03AAC8 4.25%, #45C38B 45.47%, #7ED957 112.95%);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
}

.caseanalysis-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.caseanalysis-hero-text {
  position: absolute; 
  color: white; 
  font-size: 2.5rem; 
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.19); /* Optional: Add text shadow for better visibility */
  font-family: Urbanist;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; 
  letter-spacing: -0.61px;
  margin: 0%;
  left:28rem;
  top: 5rem;
}



.text .text-p {
  color: #000000;
  font-family: "Urbanist", Helvetica;
  font-size: 64px;
  font-weight: 700;
  left: 50%;
  letter-spacing: -0.64px;
  line-height: 80.5px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 843px;
}

.case-buttons{
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  margin: 1% 1.5%;
  width: 97%;
  align-items: center;
}

.case-btn{
  height: 60px;
  width: 50%;
  background-color: #000000;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  font-family: "Urbanist", Helvetica;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.case-btn:hover{
  border: 2px solid#000;
  font-size: 1.8rem;
  color: #000;
  background-color: white;
}


.casename-text{
  color: #000;
  font-family: "Urbanist", Helvetica;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  top: 18px;
}

.casename-h3{
    margin-top: 3%;
    font-size: 2.5rem;
    background: linear-gradient(92deg, #03AAC8 4.25%, #45C38B 45.47%, #7ED957 112.95%);
    background-clip: text; /* Clipping background to text */
    -webkit-text-fill-color: transparent; /* Making the text transparent to show the gradient */
}

.casename-p{
  color:rgb(92, 88, 88);
  font-size: 1.2rem;
  margin:5px 0%;
}

.case-container-div{
  display: flex;
  flex-direction: column;
  margin: 1% 1.5%;
}

.case-enter_text{
  color: #000000;
  font-size: 25px;
  font-family: "Urbanist", Helvetica;
  font-weight: 700;
  text-align: center;
  margin-top: 2%;
}

.case-textarea1{
  margin: 1% 0%;
  max-height: 200px;
  min-height: 200px;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-size: 18px; /* Same as placeholder */
  line-height: 32.6px; /* Ensure line height matches placeholder */
  color: #000000; /* Text color */
  overflow: hidden; /* Hide scrollbar */
}

.case-textarea1::placeholder {
  color: #a7a7a7;
  font-family: "Urbanist", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 18px;
  left: 0px;
  letter-spacing: 0;
  position: relative;
  line-height: 32.6px;
  
}

.textarea1::-webkit-scrollbar {
  display: none; 
}
.textarea1 {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}


.case-submitbtn{
  background-color: #000000;
  border: 2px solid;
  border-radius: 8px;
  color: white;
  font-family: "Urbanist", Helvetica;
  font-size: 25px;
  transition: all 0.3s ease-in-out;

} 

.case-submitbtn:hover{
  border: 2px solid#000;
  color: #000;
  background-color: #45C38B ; 
  font-weight: 700;

}

.casesolution-container {
  display: flex;
  justify-content: center; /* Center the solution div horizontally */
}

.casesolution-box {
  font-family:'Quicksand';
  margin: 2% 1.5%;
  border: 1px solid black;
  border-radius: 11px;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 35.6px;
  color: #000000;
  word-wrap: break-word; /* Ensure long words break onto the next line */
  overflow-wrap: break-word;
}


/* Dummy Case CSS*/

.CaseType{
    display: flex;
    margin: 3% 1.5%;
    align-items: center;
    justify-content: center; 
    gap:2%;
}

.dum-btn{
  background-color: #000000;
  border: 2px solid;
  border-radius: 8px;
  color: white;
  font-family: "Urbanist", Helvetica;
  font-size: 22px;
  transition: all 0.3s ease-in-out;
  height: 60px;
  font-weight: 500;
  width: 200px;
}

.dum-btn:hover{
  border: 2px solid#000;;
  color: #000;
  background-color: white;
}

.case{
  color: #000000;
  font-size: 20px;
  font-family: "Urbanist", Helvetica;
  font-weight: 700;
  display: block;
  padding-left: 10px; 
}

input{
  margin-left: 10px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid  #000;
  font-family: 'Urbanist';
  font-weight: 800;
  font-size: large;
}

input::placeholder{
  left: 20px;
}

input:focus{
  outline: black;
}


.text-area-container1{
  box-sizing: border-box;
  border-radius: 11px;
  background-color: #fffff8;
  border: 1px solid black;
  margin: 0% 1.5%;
}

.textarea2{
  font-family: 'Quicksand';
  font-weight: 550;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: #fffff8;
  position: relative;
  top : 0px;
  left: 0px;
  border: none;
  padding: 20px;
  font-size: 18px; /* Same as placeholder */
  line-height: 32.6px; /* Ensure line height matches placeholder */
  color: #000000; /* Text color */
}

.t{
  color: #000000;
  font-size: 30px;
  font-family: "Urbanist", Helvetica;
  font-weight: 700;
  height: 29px;
  position: relative;
  margin: 1% 1.5%;
}



